{
    "presets": [
        [
            "@babel/env",
            {
                "targets":{
                    "node": "6.10"
                },
                "useBuiltIns": "entry"
            }
        ],
        "@babel/typescript"
    ],
    "env": {
        "test": {
            "presets": [
                [
                    "@babel/env",
                    {
                        "targets":{
                            "node": "current"
                        },
                        "useBuiltIns": "entry"
                    }
                ],
                "@babel/typescript"
            ],
            "plugins": [
                "@babel/proposal-class-properties",
                "@babel/proposal-object-rest-spread",
                "@babel/plugin-transform-runtime"
            ]
        }
    }
}
